              <form class="xtable-row container_12" name="add_order_item"  style="padding-top: 5px; padding-bottom: 5px">              
                <input type="hidden" name="order_id" value="<%%=entity.id%>"/>
                <span class="xtable-cell grid_3">
                  <input type="text" name="date" id="new_order_line_date" class="fieldcontrol date_control" size="14"/>
                  <input type="text" name="time" class="fieldcontrol" size="14"/>
                </span>                
                <span class="xtable-cell grid_3">
                  <input type="text" name="item_id" class="fieldcontrol" size="5"/>
                  <input type="text" name="item_description" class="fieldcontrol" size="23"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" name="quantity" size="8"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" class="right_text" name="item_price_type" size="8"/>
                </span>                   
                <span class="xtable-cell grid_1">
                  <input type="text" name="item_unit_cost" size="8"/>
                </span>
                <span class="xtable-cell grid_1">
                  <input type="text" name="item_cost" size="8"/>
                </span>
                <span class="xtable-cell grid_2">
                  <textarea name="notes" rows="1" style="padding: 7px;" cols="18"></textarea>
                </span>
                <span class="xtable-cell grid_12 right_text top-margin  right-margin" style="position: relative; right: 5px;">
                   <input type="submit" class="left-margin form-button action-button entity-management-button" value="<%=t.order_management.form.order_item.add%>"/>                
                </span>
              </form>   