<style>
  #order_actions div, #order_actions button {
    margin-bottom: 0.5em;
  }
  #order_actions div {
    width: 13em;
  }  
  #order_actions button {
    width: 14em;
  }
</style>
         <div id="order_actions" class="all-space" style="overflow: hidden">
           <div style="text-align: right">
             <%= partial :order_management_workflow %>
           </div>
         </div>
