        <h2>Resumen del pedido</h2>
        <div class="all-space" style="border:1px solid #EEE">
          <div class="xtable">
              <div class="xtable-row all-space container_12">
                 <span class="xtable-cell grid_3">
                    <span class="more_contrast_text">TOTAL</span>
                 </span>
                 <span class="xtable-cell grid_1 right_text">
                   <span class="more_contrast_text right-margin">
                      <%%=new Number(entity.total_cost).toFixed(2)%>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </div>

              <form class="xtable-row all-space container_12" name="deposit">
                 <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
                 <span class="xtable-cell grid_3">
                   <span class="more_contrast_text">DEPÓSITO</span>
                 </span>
                 <span class="xtable-cell grid_1">
                   <input type="text" name="reservation_amount" size="8" maxlength="10" value="<%%=new Number(entity.reservation_amount).toFixed(2)%>" class="right_text"/>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">
                   <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                 </span>                 
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </form>

              <div class="xtable-row all-space container_12">
                 <span class="xtable-cell grid_3">
                   <span class="more_contrast_text">PAGADO</span>
                 </span>
                 <span class="xtable-cell grid_1 right_text">
                   <span class="more_contrast_text right-margin">
                      <%%=new Number(entity.total_paid).toFixed(2)%>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </div>

              <div class="xtable-row all-space container_12">
                 <span class="xtable-cell grid_3">
                   <span class="more_contrast_text">PENDIENTE</span>
                 </span>
                 <span class="xtable-cell grid_1 right_text">
                   <span class="more_contrast_text right-margin" style="color: red">
                      <%%=new Number(entity.total_pending).toFixed(2)%>
                   </span>
                 </span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
                 <span class="xtable-cell grid_3">&nbsp;</span>
              </div>    
          </div>
        </div>  
