            <div class="element_template">
              <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.order_management.form.free_access_id %></span>
               <span class="entity-fieldvalue"><a href="/p/myorder/<%%=entity.free_access_id%>" target="_blank">/p/myorder/<%%=entity.free_access_id%></a></span>
              </div>
            </div>
